.cont1{
  width: 200px;
}

.topname img{
  display: block;
  margin-left: 20px;
  width: 120px;
}

.cont3{
  margin-top: 50px;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: auto;

}

.cont4{
  width: 600px;
  margin-right: auto;
  margin-left: 25%;

}
.nav1{
  height: 450px;
  list-style: none;
}
.nav1 p{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  width: 120px;
  height: 50px;
  text-align: left;
}
.nav1 p a{
  text-decoration: none;
  color: #333;
}

.topphoto{
  display: inline-block;
  margin-left:
}

.topphoto img{

  margin: 0 auto;
  display: inline-block;

  height: 450px;

}
